h1 {
    position: fixed;
    top: 0px;
    font-family: "ubuntu", serif; 
    font-size: 40px;
    color: white;
    margin-left: 4%;
}

#About_H1 {
    top: 0px;
    font-family: "ubuntu", serif; 
    font-size: 40px;
    margin-left: 4%;
    color: white;
    position: absolute;
}

#About_H4 {
    top: 27px;
    font-family: "ubuntu", serif; 
    font-size: 15px;
    margin-left: 13%;
    color: white;
    position: absolute;
}

h2 {
    position: fixed;
    top: 55px;
    font-family: "lora";
    font-size: 25px;
    color: white;
    text-align: center;
}

h3 {
    position: fixed;
    font-family: "ubuntu", serif;
    font-size: 20px;
    margin-left: 4%;
    color: white;
    position: absolute;
}

#About_H3 {
    font-family: "ubuntu", serif;
    font-size: 20px;
    margin-left: 4%;
    color: white;
    position: absolute;
}

#About_Text {
    position: fixed;
    font-family: "lora";
    font-size: 18px;
    text-align: left;
    margin-left: 4%;
    color: white;
    position: absolute;
}

.Screen_Text {
    position: fixed;
    top: 0px;
    font-family: "lora";
    font-size: 25px;
    text-align: center;
}

body {
    background-color: #222222;
}

#Light_Moon {
    position: fixed; 
    bottom: 10px; 
    left: 5px;
}

#Light_Sun {
    position: fixed; 
    bottom: 75px; 
    left: 5px;
}

#Light_Face {
    position: fixed; 
    bottom: 140px; 
    left: 5px;
}

#Hiragana_Button {
    position: fixed;
    top: 200px;
    left: 50px;
    background-color: #a020f0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "ubuntu", serif;
    font-size: 30px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 400px;
    height: 200px;
}

#Hiragana_Button:hover {
    background-color: #BF5FFF;
}

#Katakana_Button {
    position: fixed;
    top: 200px;
    left: 520px;
    background-color: #a020f0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "ubuntu", serif;
    font-size: 30px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 400px;
    height: 200px;
}

#Katakana_Button:hover {
    background-color: #BF5FFF;
}

#Kanji_Button {
    position: fixed;
    top: 200px;
    right: 30px;
    background-color: #a020f0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "ubuntu", serif;
    font-size: 30px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 400px;
    height: 200px;
}

#Kanji_Button:hover {
    background-color: #BF5FFF;
}

#Hiragana_and_Katakana_Button {
    position: fixed;
    top: 425px;
    left: 200px;
    background-color: #a020f0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "ubuntu", serif;
    font-size: 30px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 1000px;
    height: 100px;
}

#Hiragana_and_Katakana_Button:hover {
    background-color: #BF5FFF;
}

#All_Three_Button {
    position: fixed;
    top: 550px;
    left: 200px;
    background-color: #a020f0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "ubuntu", serif;
    font-size: 30px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 1000px;
    height: 100px;
}

#All_Three_Button:hover {
    background-color: #BF5FFF;
}

#Ten_Questions_Button {
    position: fixed;
    top: 200px;
    left: 50px;
    background-color: #a020f0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "ubuntu", serif;
    font-size: 30px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 400px;
    height: 200px;
}

#Ten_Questions_Button:hover {
    background-color: #BF5FFF;
}

#Fifteen_Questions_Button {
    position: fixed;
    top: 200px;
    left: 520px;
    background-color: #a020f0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "ubuntu", serif;
    font-size: 30px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 400px;
    height: 200px;
}

#Fifteen_Questions_Button:hover {
    background-color: #BF5FFF;
}

#Twenty_Questions_Button {
    position: fixed;
    top: 200px;
    right: 30px;
    background-color: #a020f0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "ubuntu", serif;
    font-size: 30px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 400px;
    height: 200px;
}

#Twenty_Questions_Button:hover {
    background-color: #BF5FFF;
}

#Start_Button {
    position: fixed;
    top: 425px;
    left: 200px;
    background-color: #a020f0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "ubuntu", serif;
    font-size: 30px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 1000px;
    height: 100px;
}

#Start_Button:hover {
    background-color: #BF5FFF;
}

#Home_Button {
    position: fixed;
    top: 550px;
    left: 200px;
    background-color: #a020f0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "ubuntu", serif;
    font-size: 30px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 1000px;
    height: 100px;
}

#Home_Button:hover {
    background-color: #BF5FFF;
}

/* Social Media Buttons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    margin-left: 37px;
    top: 1000px;
}

.fa:hover {
    opacity: 0.7;
}

/* LinkedIn Button */
.fa-linkedin {
    background: #007bb5;
    color: white;
    margin-left: 60px;
}

/* GitHub Button */
.fa-github {
    background: #171515;
    color: white;
    margin-left: 10px;

}

/* Gmail Button */
.fa-google {
    background: #dd4b39;
    color: white;
    margin-left: 10px;
    margin-top: 75px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #a020f0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #BF5FFF;
}
  
/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    padding: 20px;
    margin-left: 37px;
    position: absolute;
    color: white;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 960px;
    overflow: scroll;
}

a {
    color: white;
}

/* Set width and height relative to browser */
#Main {
    min-height: 100vh;
    min-width: 100vh;
}