h1 {
    position: fixed;
    top: 0px;
    font-family: "ubuntu", serif; 
    font-size: 40px;
    color: white;
    margin-left: 4%;
}

h2 {
    position: fixed;
    top: 55px;
    font-family: "lora";
    font-size: 25px;
    color: white;
    text-align: center;
}

.Screen_Text {
    position: fixed;
    top: 0px;
    font-family: "lora";
    font-size: 25px;
    text-align: center;
}

body {
    background-color: #222222;
}

#Light_Moon {
    position: fixed; 
    bottom: 10px; 
    left: 5px;
}

#Light_Sun {
    position: fixed; 
    bottom: 10px; 
    left: 60px;
}

#Hiragana_Button {
    position: fixed;
    top: 200px;
    left: 50px;
    background-color: #a020f0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "ubuntu", serif;
    font-size: 30px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 400px;
    height: 200px;
}

#Hiragana_Button:hover {
    background-color: #BF5FFF;
}

#Katakana_Button {
    position: fixed;
    top: 200px;
    left: 520px;
    background-color: #a020f0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "ubuntu", serif;
    font-size: 30px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 400px;
    height: 200px;
}

#Katakana_Button:hover {
    background-color: #BF5FFF;
}

#Kanji_Button {
    position: fixed;
    top: 200px;
    right: 30px;
    background-color: #a020f0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "ubuntu", serif;
    font-size: 30px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 400px;
    height: 200px;
}

#Kanji_Button:hover {
    background-color: #BF5FFF;
}

#Hiragana_and_Katakana_Button {
    position: fixed;
    top: 425px;
    left: 200px;
    background-color: #a020f0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "ubuntu", serif;
    font-size: 30px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 1000px;
    height: 100px;
}

#Hiragana_and_Katakana_Button:hover {
    background-color: #BF5FFF;
}

#All_Three_Button {
    position: fixed;
    top: 550px;
    left: 200px;
    background-color: #a020f0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "ubuntu", serif;
    font-size: 30px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 1000px;
    height: 100px;
}

#All_Three_Button:hover {
    background-color: #BF5FFF;
}

#Ten_Questions_Button {
    position: fixed;
    top: 200px;
    left: 50px;
    background-color: #a020f0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "ubuntu", serif;
    font-size: 30px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 400px;
    height: 200px;
}

#Ten_Questions_Button:hover {
    background-color: #BF5FFF;
}

#Fifteen_Questions_Button {
    position: fixed;
    top: 200px;
    left: 520px;
    background-color: #a020f0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "ubuntu", serif;
    font-size: 30px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 400px;
    height: 200px;
}

#Fifteen_Questions_Button:hover {
    background-color: #BF5FFF;
}

#Twenty_Questions_Button {
    position: fixed;
    top: 200px;
    right: 30px;
    background-color: #a020f0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "ubuntu", serif;
    font-size: 30px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 400px;
    height: 200px;
}

#Twenty_Questions_Button:hover {
    background-color: #BF5FFF;
}

#Start_Button {
    position: fixed;
    top: 425px;
    left: 200px;
    background-color: #a020f0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "ubuntu", serif;
    font-size: 30px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 1000px;
    height: 100px;
}

#Start_Button:hover {
    background-color: #BF5FFF;
}

#Home_Button {
    position: fixed;
    top: 550px;
    left: 200px;
    background-color: #a020f0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "ubuntu", serif;
    font-size: 30px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 1000px;
    height: 100px;
}

#Home_Button:hover {
    background-color: #BF5FFF;
}

/* Set width and height relative to browser */
#Main {
    min-height: 100vh;
    min-width: 100vh;
}